@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #432c81;

  transition: background 0.5s linear;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #a9e5bb;
} */

.ant-picker-ok {
  button {
    background-color: #432c81;
  }
}
[id^="vercel-overlay"] {
  display: none !important;
}
